<h1>Profiles</h1>

<p><%= link_to 'Add a New Profile', new_profile_url %></p>

<table>
  <thead>
    <tr>
      <th>Picture</th>
      <th>User</th>
      <th>Professional</th>
      <th>Requirement</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <% @profiles.each do |profile| %>
    <tr>
      <td><%= profile.picture_id %></td>
      <td><%= profile.user_id %></td>
      <td><%= profile.professional_id %></td>
      <td><%= profile.requirement_id %></td>
  
      <td><%= link_to 'Show', profile_url(profile) %></td>
      <td><%= link_to 'Edit', edit_profile_url(profile) %></td>
      <td><%= link_to 'Destroy', profile_url(profile), method: 'delete', data: { confirm: "Do you really want to delete this profile?" } %></td>

    </tr>
  <% end %>
  </tbody>
</table>

