<h1>New Profile</h1>


<%= form_tag(profiles_url, method: 'post') do %>


  <div>
    <%= label_tag :picture_id %><br />
    <%= number_field_tag :picture_id %>
  </div>

    <div>
    <%= label_tag :user_id %><br />
    <%= number_field_tag :user_id %>
  </div>

    <div>
    <%= label_tag :professional_id %><br />
    <%= number_field_tag :professional_id %>
  </div>

    <div>
    <%= label_tag :requirement_id %><br />
    <%= number_field_tag :requirement_id %>
  </div>

  
  <div>
    <%= submit_tag "Create Profile" %>
  </div>
<% end %>
