<h1>Profile #<%= @profile.id %></h1>

<p>
  <b>Picture:</b>
  <%= @profile.picture_id %>
</p>

<p>
  <b>User:</b>
  <%= @profile.user_id %>
</p>

<p>
  <b>Professional:</b>
  <%= @profile.professional_id %>
</p>

<p>
  <b>Requirement:</b>
  <%= @profile.requirement_id %>
</p>


