<h1>Editing Professional #<%= @professional.id %></h1>


<%= form_tag(professional_url(@professional), method: 'put') do %>

  <div>
    <%= label_tag :architect_company %><br />
    <%= text_field_tag :architect_company, @professional.architect_company %>
  </div>

  <div>
    <%= label_tag :photographer %><br />
    <%= text_field_tag :photographer, @professional.photographer %>
  </div>

  
  <div>
    <%= submit_tag "Update Professional" %>
  </div>

<% end %>
